################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/parser/.vs/parser/v15/Browse.VC.opendb
